.cardlabel {
    font-size: 0.8rem;
    border-radius: 9999px;
    padding: 4px 10px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}
.cardlabeldeletable {
    user-select: none;
    &:hover {
        background-color: rgba($error, 0.3) !important;
        color: $error !important;
        // opacity: 0.8;
    }
}
