.card-wrapper {
    margin-bottom: 20px;
    background-color: transparent;
    width: 100%;
}

.card {
    @include radius('medium');
    @include resetLink();
    display: block;
    text-align: start;
    background-color: transparent;
    background-color: $neutralLightest;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    transition: 0.3s;
    overflow: hidden;

    &__image {
        @include radius('medium');
        height: 130px;
        margin-bottom: 16px;
        background-color: $primary;
        width: 100%;
        object-fit: cover;
    }

    &__title {
        display: inline-block;
        font-weight: 500;
        margin-bottom: 20px;
        word-break: break-all;
        max-height: 80px;
        // overflow-y: auto;
    }

    &__category {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        // display: grid;
        // grid-auto-columns: min-content;

        // grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
        // flex-wrap: wrap;
        margin-bottom: 20px;
    }

    &__bottom {
        @include display(flex, unset, space-between, center);

        &__members {
            list-style: none;
            display: flex;

            &__item {
                &__img {
                    @include radius('small');
                    height: 28px;
                    width: 28px;
                    background-color: $primaryLight;
                    margin-right: 8px;
                }
            }

            &__btn-addmember {
                @include button(8px, 'basic');
                height: 28px;
                width: 28px;
                &__icon {
                    font-size: 1.3rem;
                    flex-shrink: 0;
                }
            }
        }

        &__utils {
            display: flex;

            &__btn {
                background: transparent;
                color: rgba($neutralMidDark, 0.8);
                display: flex;
                align-items: center;
                cursor: pointer;
                &:hover {
                    color: rgba($neutralMidDark, 1);
                }

                &__number {
                    font-size: 0.8rem;
                    margin-left: 4px;
                }
            }
        }
    }
}
