.app {
    background-color: $neutralMidlLight;
    min-height: 100vh;
    overflow-y: hidden;
}

@import './pages/AllBoards';
@import './pages/Auth';
@import './pages/Board';

@import './templates/Header';
@import './templates/PageLoader';
@import './templates/dropdown/InviteMember';
@import './templates/dropdown/ProfilMenu';
@import './templates/dropdown/PrivateOrPublic';
@import './templates/dropdown/BoardMenu';
@import './templates/dropdown/EmojiPicker';
@import './templates/board/List';
@import './templates/board/cardItem';
@import './templates/board/btnAddList';
@import './templates/board/#board';
@import './templates/board/placeholder';
@import './templates/modal/CreateBoard';
@import './templates/modal/CardModal';
@import './templates/EditDescription';

@import './layouts/categoryTiltle';
@import './layouts/userDisplay';

@import './utils/Loader';
@import './utils/DropDown';
@import './utils/Toast';
@import './utils/Modal';
