.allboards {
    max-width: 1440px;
    margin: auto;
    padding: 0 50px;
    margin-top: 80px;

    &__top {
        @include display(flex, unset, space-between, center);
        margin-bottom: 60px;

        &__title {
            color: $neutralDark;
            font-size: 1.4rem;
            font-weight: 500;
        }

        &__btn {
            @include button('basic', 'basic');
            @include focus();
            // width: 80px;

            &__icon {
                margin-right: 6px;
                font-size: 1.2rem;
                flex-shrink: 0;
            }

            &__label {
                font-size: 0.9rem;
            }
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 243px);
        gap: 50px;
        justify-content: center;
        padding-bottom: 50px;

        &__items {
            @include resetLink();
            @include focus();
            @include display(flex, column, space-between, unset);
            cursor: pointer;
            box-sizing: border-box;
            height: 243px;
            width: 100%;
            background-color: $neutralLightest;
            padding: 10px;
            border-radius: 12px;
            transition: 0.3s !important;
            position: relative;
            animation: boardPop 1s;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

            &:hover {
                transform: rotate(1deg);
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 0 0 1px $primary;
            }

            &__img {
                background-color: $primaryLight;
                height: 130px;
                margin-bottom: 10px;
                border-radius: 12px;
            }

            &__title {
                display: inline-block;
                text-align: start;
                margin-bottom: 16px;
            }

            &__members {
                list-style: none;
                display: flex;

                &__profil {
                    height: 30px;
                    width: 30px;
                    background-color: $primaryLight;
                    margin-right: 10px;
                    border-radius: 12px;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }

                &__more {
                    @include display(flex, unset, unset, center);
                    color: $neutralMidDark;
                    font-size: 0.9rem;
                }
            }
        }
    }
}
