$primary: #2f80ed;
$primaryLight: #dae4fd;

$secondary: #828282;
$borderModal: #e0e0e0;

$neutralDarker: #000000;
$neutralDark: #333333;
$neutralMidDark: #bdbdbd;
$neutralMidLigh2: #d5e6fb;
$neutralMidlLight: #f8f9fd;
$neutralLight: #f2f2f2;
$neutralLightest: #ffffff;

$focusDark: #748396;
$focusLight: #2f80ed;

$error: rgb(226, 95, 95);
// FAIRE UN DARK / LIGHT MODE
