$primary: #2f80ed;
$primaryLight: #dae4fd;

$neutralDarker: #000000;
$neutralDark: #333333;
$neutralMidLight: #d5e6fb;
$neutralLight: #f2f2f2;
$neutralLightest: #ffffff;

// FAIRE UN DARK / LIGHT MODE
